/* normalize */
html{
    box-sizing: border-box;
  }
  
  ol, ul, li{
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
  }
  p{
    margin: 0;
    padding: 0;
  }
  a {
    display: inline-block;
  }
  
  
  body{
    font-family: 'Roboto', sans-serif;
    background-color:#F5F7FA;
    margin-top: 40px;
    margin-bottom: 40px;
  
  }
  
  .list{
  list-style: none;
  }
  
  /* conteiner */
  
  .conteiner{
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  
  display: flex;
  flex-direction: row-reverse;
  justify-content:start;
  
  }
  
  .main{
    display: block;
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgb(0 0 0 / 10%);
    padding-left:88px;
    padding-right:217px;
    padding-top: 104px;
    padding-bottom: 107px;
  }
  /* user-name */
  .user-name{
    width: 525px;
    height: 228px;
    /* outline: 1px solid tomato; */
    margin-bottom: 40px;
  }
  .job{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 17px;
  }
  .name{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 24px;
  }
  .about-user{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
  }
  
  /* Projects */
  .Projects{
    width: 525px;
    height: 107px;
    /* outline: 1px solid tomato; */
    margin-bottom: 51px;
  }
  .projects-list {
    padding: 0;
    margin-left: 15px;
  }
  .Work-Experience{
    width: 525px;
   
    /* outline: 1px solid tomato; */
   
  }
  
  .Work-conteiner{
    margin-bottom: 30px;
  }
  
  .Education{
    width: 525px;
    height: 120px;
    /* outline: 1px solid tomato; */
    margin-bottom: 16px;
  }
  .Education-it{
    width: 525px;
    height: 120px;
    /* outline: 1px solid tomato; */
  }
  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
  }
  .period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
  }
  
  .organization {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
  }
  .work-list {
    padding: 0;
    margin-left: 15px;
  }
  
  .work-list-item {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      color: #595959;
  }
  
  /* sidebar */
  .sidebar{
    width: 370px;
    height: 1319px;
    background: #1E2939;
    /* outline: 1px solid tomato; */
  }
  .sidebar-box-foto{
   position: relative;
   top:40px;
   left:0;
  }
  .sidebar-foto{
    width: 370px;
    margin-bottom: 50px;
  }
  
  
  .sidebar-title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
  }
  .contacts{
    margin-bottom: 50px;
    margin-left: 40px;
  }
  
  .contacts-type {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
  }
  
  .contakts-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #f0f3f8;
  }
  
  .tech-skills, .soft-skills {
    margin-bottom: 50px;
    margin-left: 40px;
  }
  
  .text-skills-list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 18px;
  }
  .tech-skills-item {
    color: #FB6D3A;
  }
  
  .tech-skills-text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  
  .soft-skills-list {
    color: #FFFFFF;
    padding: 0;
    margin-left: 18px;
  }
  .soft-skills-item {
    color: #FB6D3A;
  }
  
  .soft-skills-text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }

  .projects-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.project {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.project-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 10px;
}
.project-brecket {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.project-brecket {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}